
<table class="table row-border hover mt-3 taille" id="example">
  <thead>
    <tr>

      <th scope="col">Libelle</th>




      <th  data-sortable="true" data-field="nom" scope="col">Actions</th>


    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let materiel of envPage.content">
      <td>{{materiel.libelleEnv}}</td>





      <!-- <td><button class="btn btn-primary" (click)="chargeData(materiel)">Modifier</button>
      <button class="btn btn-success ms-2" (click)="delete(materiel)">Supprimer</button></td> -->
      <td>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRex" data-bs-whatever="@getbootstrap" (click)="chargeData(materiel)">Modifier</button>
        <button class="btn btn-success ms-2" (click)="delete(materiel)">Supprimer</button>
      </td>


    </tr>


  </tbody>
</table>
<div class="modal fade" id="editRex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold text-center text-primary" id="exampleModalLabel">Modification d'un rex</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myFormenv">
          <div class="row">

            <div class="col-6">
              <div class="mb-3">
                <label for="libelle-name" class="col-form-label">Libelle:</label>
                <input type="text" class="form-control" id="libelle-text" formControlName="libelleEnv" placeholder="Entrez votre prenom">
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="code-name" class="col-form-label">Fonction:</label>
                <input type="text" class="form-control" formControlName="fonction" id="code-name" placeholder="Entrez votre fonction">
              </div>

            </div>

          </div> -->

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disable = "true" (click)="edit()">Edit</button>
      </div>
    </div>
  </div>
</div>



<!--  -->

<div class="container mt-4">
  <!-- <h2>Liste des REX</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let rex of envPage">
      {{ rex.libelle }}
    </li>
  </ul> -->

  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="envPage.first">
        <a class="page-link" (click)="getEnvPage(envPage.number - 1, envPage.size)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <!-- <li class="page-item" *ngFor="let i of Array(envPage.totalPages).fill(0).map((x, i) => i)">
        <a class="page-link" (click)="getEnvPage(i, envPage.size)">{{ i + 1 }}</a>
      </li> -->
      <li class="page-item" [class.disabled]="envPage.last">
        <a class="page-link" (click)="getEnvPage(envPage.number + 1, envPage.size)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
